@charset "utf-8";
/* 맨 위에 utf-8 인코딩 표시는 무조건 넣어야 한다. why? 안넣으면 깨질 수 있음*/


            /* CSS영역 내 주석문 */

            /* [ 모든 요소 공통 디자인요소 : 박스모델 ]
                1. 크기 : width 가로, height 세로
                2. 경계선 : border
                3. 내부여백 : padding
                4. 외부여백 : margin
                 (여백공통방향 : top, bottom, right, left) 

                 _____________________________________________
                
                 [ CSS 속성 셋팅 형식 ]
                 선택자 {
                    속성:값;
                 }

                 [ CSS 선택자 방식 ]
                 1. 타입선택자 : 태그명 (div,p,a 등)
                 2. 아이디선택자 : #아이디명
                 3. 클래스선택자 : .클래스명
                 4. 자식선택자 : 띄어쓰기 (div a)
                 5. 직계자식선택자 : 오른쪽꺽쇠 (div > a)
                 6. 종속선택자 : 요소명#아이디명 / 요소명.클래스명
                  (div.mymy -> div인데 클래스가 mymy)
                  7. 형제 선택자 : 요소+요소 (a+a)
                  -> 앞의 요소가 있는 형제 요소를 선택
                  8. 그룹 선택자 : 선택자, 선택자(html, bodt,p)
                  -> 여러 요소를 동시에 선택함

                 */

            /* 웹폰트 CDN(Content Delevery Network) */
            @import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Gothic:wght@400;700&display=swap");

            /* 
                웹폰트 font-family 이름
                font-family: 'Gowun Batang', serif;
                font-family: 'Nanum Gothic', sans-serif;
            */

            /* 
                 @import url(주소)
                  - 외부CSS를 불러올 때 사용하는 형식
                  - 외부CSS 파일을 하나로 합칠 때 많이 사용함
            */


            /* 요소의 초기화
               - 기존에 기본 셋팅값 중 마진/패딩 초기화 */
            html,body,h1,h2{
                margin: 0;
                padding: 0;
            }

            /* 레이아웃 박스 공통 디자인 */
            .bx {
                /* 크기 */
                width: 50%;
                /* 외곽선 */
                border: 10px double #ffffff;
                /* border: 5px double #ffffff; */
                /* 패딩 */
                padding: 20px;
                /* 마진 */
                margin: 0 auto;
                /* 양쪽 마진을 auto로 쓰면 등분할 되어 블록박스가 중앙에 위치함 */

                /* 둥근 모서리 */
                box-sizing: border-box;
                border-radius: 25px;

                /* 
                  [ 마진/패딩 공통 개수별 정의 ]
                  margin : 4방향; (1개)
                  margin : 위아래 양쪽; (2개)
                  margin : 위 양쪽 아래; (3개)
                  margin : 위 오른 아래 왼; (4개 - 시계방향)
                */
                /* 텍스트 중앙 정렬 tac */
            }

            /* 메인 이미지 */
            .cimg {
                width: 100%;
            }

            #top,#info{
                text-align: center;
            }

            /* 1.상단영역 */
            #top {
                background-color: #9ccc65;
            }

            #title {
                color: #000000;
                size: auto;
            }

            /* 타이틀 */

            #top h1 {
                color: #ffffff;
                /* text-shadow: 1px 1px 10px #29f09d62;
                text-shadow: 2px 2px 10px #10b8727c; */
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,'돋움';
                font-size: 40px;
                margin-bottom: 2%;
                /* 
                    font-family 글씨체
                    값 - 콤마로 구분하여 우선순위 적용함
                    (상위체가 없으면 하위체를 적용, 이도없으면 브라우저 기본체로 표시)
                */

            }

            /* 메뉴 링크 */
            #gnb a {
                color: #423838;
                text-decoration: none; /*  */
                font-size: 17px;
                text-shadow: 0px 0px 1px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            /* 가상 클래스 : hover 마우스 오버시 */
            /* a + a는 앞에 a요소가 있는 형제 a요소를 선택
                결과적으로 첫번째 a요소가 선택되지 않는다. */
            #gnb a+a:hover {
                color: blue;
                text-decoration: underline;
                text-decoration-style: unset;
                /* 
                                text-shadow : 글자 그림자
                                값 - x축 y축 블러(경계흐림) 색
                            */
            }

            /* 
                vertical-align : 인라인 요소간 세로정렬
                값 - top/bottom/middle/baseline/수치
            */

            /* 로고 이미지 */

            #gnb img {
                vertical-align: -6px;
            }

            /* 2.메인영역 */
            #cont {
                margin: 20px auto;
                background-color: #9ccc65;
            }


            #info {
                background-color: #9ccc65;
                color: #423838;
            }

            #info address{
                font-style: unset;
                text-shadow: 0px 0px 1px;
                /* font-style: normal; */
            }

            /* 대표자 span */
            .CEO_name{
                text-decoration: underline;
                color: #423838;
            }
            
            /* 종속선택자로 같은 이름의 클래스인데
            다른 디자인으로 변경하여 셋팅하기 */
            
            .CEO_number{
                text-decoration: underline;
                color: #423838;
            }
            