@charset "utf-8";

@import url(./common.css);

html,
body,
h1,
h2, figure {
    margin: 0;
    padding: 0;
}


/* 메인 박스 흰 배경 처리 */
#cont_sub {
    background-color: #ffffff;
    margin: 20px auto;
}

/* 단락 제목 */
h2.stit {
    text-align: center;
    color: #8bb45c;
    text-shadow: 1px 1px 2px #000;
}

/* 신문사 로고 */
.prlogo {
    margin-left: 40px;
    margin-right: 40px;
    height: 15%;
}

/* 뉴스 제목 */
.atit {
    padding-left: 40px;
    padding-right: 40px;
}

/* 뉴스 이미지 */
.nimg {
    width: 90%;
    padding-left: 40px;
    padding-right: 40px;
}

/* 뉴스 이미지 설명 */
.nfig {
    font-size: 14px;
    font-style: italic;
    color: #4e4e4e;
    padding-left: 40px;
    padding-right: 40px;
}

.mvbx {
    width: 90%;
    height: 450px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
}
/* div와 같은 block 요소는 width 설정을 하지 않으면 width:auto로 자동설정됨. 이는 싸고 있는 박스 컨텐트 영역을 자동으로 채워준다! */

/* 동영상 크기 설정 */
.mvbx iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* 뉴스 내용 단락 */
.acont {
    color: #303038;
    font-size: 17px;
    text-align: justify;
    line-height: 1.56;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    word-spacing: 1px;
}

/* 기자 정보 */
.rpt {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

/* 기사 원문 보기 하이퍼링크 */
.source {
    text-align: right;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    padding-bottom: 20px;
}

.source a {
    width: 70px;
    height: 70px;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 70px;
    text-decoration: none;
    color: #000;
}

.source a:hover {
    color: #000;
    background-color: #8bb45c;
    box-shadow: 3px 3px 3px 1px #303038;

}

/* 주해 */
.desc {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    text-align: justify;
}
